*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    flex-direction: column;
    background-color: #444;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-heading-color{
    color: white;
}